<h2>My Languages</h2>

<div id="selected-languages">
  <% @user.languages.each do |language| %>
    <%= button_to language.name, language_collection_path(@user, language), method: :delete, data: { confirm: 'Are you sure?' }, class: 'language-button' %>
  <% end %>
</div>







