<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "Dark_Mode_Logo.png", height: 50 %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>

        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input" id="darkSwitch" />
          <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
      </div>
    </div>
  </div>
</nav>

    
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <button class="sidebar-btn">My code snippets</button>
          <button class="sidebar-btn">Post</button>
          <button class="sidebar-btn">Chat</button>
          <button class="sidebar-btn">Saved questions</button>
          <!-- Sidebar content -->
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        
          <!-- %= render partial: "profile" % -->
          <%= render partial: "all_posts" %>



          <!-- Main content -->
        </main>
      </div>
    </div>
    
    <footer class="fixed-bottom">
<p>footer</p>

      <!-- Footer content -->
    </footer>